



    <div class="group_stats_gral">
        <img class="card-img-top_show_group img-fluid" src=<%= @group.imagen_url%> alt="Group image">
        <div class="d-flex justify-content-center ">
            
            <div class="card group_my_votes">
                
                <div class="card-body info_group_my_votes">
                    <h5 class="card-title title_group text-center"><%=@group.name%></h5>
                    <p class="card-text my_group_description" > <%=@group.description%> </p>
                </div>
            </div>
        </div>
    </div>
        
        <section class = 'my_votes_data' >
            
            <div class="group_totals">
                <h4 class= 'total_groups text-center'>
                    <span class='total_votes_title_group'>
                        TOTAL VOTES: 
                    </span>
                    <span class='total_votes_group'>
                        <%= @group.group_total%>
                    </span>
                </h4>
            </div>

            <div class="d-flex justify-content-center  align-content-center my_votes_data_1">
                <div class="d-flex flex-column">

                    <div  class="collab_title_1 ">
                        Collaborators
                    </div>
                    <div class="users_counter d-flex justify-content-between">
                        
                        <span>
                            demand creator
                        </span>
                        <span>
                            Votes
                        </span>
                        
                    </div>

                    <div class="collaborators ">
                                
                        <% @group.my_collaborators(current_user.id).each do |col_id, collaborator|%>
                            <div class= 'collaborator_names text-center d-flex justify-content-between'>
                                
                                <div class="modal fade modal_show_group" id=<%= 'myModal'+col_id.to_s%>>
                                    <div class="modal-dialog">
                                        
                                        <div class="modal-content_show_group">
                                            
                                            <div class="modal-header_show_group d-flex justify-content-around align-content-center">
                                                <span id = 'thisdemands'>
                                                    This demands were created by: <%= ' '+ User.find_by_id(col_id).name %>
                                                </span>
                                            </div>

                                            <div class="modal-body_show_group d-flex flex-column justify-content-center">
                                                
                                                <% collaborator.keys.each do |vote| %>
                                                    
                                                    <% if vote != :total_counter %>
                                                        
                                                        <div class="card_my_vote_show_group d-flex justify-items-center" >
                                                            
                                                            <img class="img-fluid image_modal_votes_show_group rounded-circle" style="width:10rem;height:10rem" src=<%= Vote.find_by_id(vote).gravatar_url %> alt="Card image cap">
                                                            
                                                            <a href=<%= vote_url(votes_id:vote) %> class='bad_link'>
                                                                <div class="vote_my_votes_body">
                                                                    
                                                                    <span id = 'user_name_card_my_votes'>
                                                                        <%= collaborator[vote][:name]%>
                                                                    </span>
                                                                                                                                
                                                                    <div class = 'counter_scroll_demands_my_vote_parent'>
                                                                        <span class = 'counter_scroll_demands_my_vote'>
                                                                            <%= collaborator[vote][:counter]%>
                                                                        </span>
                                                                    </div>

                                                                </div>
                                                            </a>    
                                                            
                                                        </div>
                                                        
                                                    <%end%>

                                                <% end %>
                                                
                                            </div>

                                            <div class=" foot_1 d-flex justify-content-center">
                                            
                                                <div class="foot_demand_creator">
                                                    <img  data-dismiss="modal" type="button" class = 'img-fluid rounded-circle pp' src= <%= User.find_by_id(col_id).gravatar %> alt="">
                                                </div>
                                                
                                            </div>

                                        </div>
                                        
                                    </div>
                                </div>

                                <a class='collabs' data-toggle="modal" data-target=<%= '#myModal'+col_id.to_s%>>
                                    <%= User.find_by_id(col_id).name %>  
                                </a>
                                
                                <span class='collabs'>
                                    <%= collaborator[:total_counter] %>
                                </span>

                            </div>
                        <% end %>

                    </div>

                </div>
            </div>
            
            <div class='d-flex justify-content-center my_votes_demands_list'>
                <div>
                    <div class="collab_title">
                        
                    Demands of the Group
                            
                    </div>
                    
                    <div class="my_votes_demand_list ">
                        <div class="demands_list_my_votes ">
                            <ul class="list-group ">
                                <% @group.votes.each do |demand| %>
                                    <a href=<%= vote_url(votes_id:demand.id) %>>
                                        <li class="list-group-item d-flex justify-content-between align-items-center demand_my_votes_item">
                                            <%=demand.name%>
                                            <span class="badge badge-success badge-pill counter_for_demand_list">
                                                <%=demand.counter%>
                                            </span>
                                        </li>
                                    </a>
                                    
                                <%end%>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
                
                <div class="foot_buttons d-flex justify-content-around">
                    
                    <div>
                        <a href=<%= my_votes_url %> class = 'back_button_index_my_votes_groups'>
                            <img src="https://i.imgur.com/BEcgpsg.png" alt="" class='img-fluid imagen_vote_show'>
                        </a>
                        
                    </div>
                    
                </div>
            <div class="foot_buttons d-flex justify-content-around">
                <div>
                    <a href=<%= root_url %> class = 'home_button_index_my_votes_groups'>
                        <img src="https://bit.ly/39poQlf" alt="" class='img-fluid imagen_vote_show'>
                    </a>
                    
                </div>
            </div>
        </section>
