<div class="my_votes_stats_background d-flex justify-content-center">
</div>
<% if @votes == nil %>

    <div class="group_stats_gral">
        
            <div class="d-flex justify-content-center ">
                <div class="card group_my_votes">
                    <img class="card-img-top" src=<%= @group.imagen_url%> alt="Card image cap">
                    <div class="card-body info_group_my_votes">
                        <h5 class="card-title title_group text-center"><%=@group.name%></h5>
                        <p class="card-text my_group_description" > <%=@group.description%> </p>
                    </div>
                </div>
            </div>
            <div class="group_totals">
                <h4 class= 'total_groups text-center'>
                    <span class='total_votes_title_group'>
                        TOTAL VOTES: 
                    </span>
                    <span class='total_votes_group'>
                        <%= @group.group_total%>
                    </span>
                </h4>
            </div>
            
        
    </div>
    <section class = 'my_votes_data' >
        <div class="d-flex justify-content-center my_votes_data_1">
            <div class="d-flex flex-column">

                <div  class="collab_title ">
                    Collaborators
                </div>
                <div class="users_counter d-flex justify-content-between">
                    
                    <span>
                        demand creator
                    </span>
                    <span>
                        Votes
                    </span>
                    
                </div>

                <div class="collaborators ">
                            
                    <% @group.my_collaborators(current_user.id).each do |col_id, collaborator|%>
                        <div class= 'collaborator_names text-center d-flex justify-content-between'>
                            
                            <div class="modal fade " id=<%= 'myModal'+col_id.to_s%>>
                                <div class="modal-dialog ">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            This demands were created by: <%= '     '+ User.find_by_id(col_id).name %> 
                                        </div>
                                        <div class="modal-body modal_collab d-flex flex-column justify-content-center">
                                            
                                            <% collaborator.keys.each do |vote| %>
                                                
                                                <% if vote != :total_counter %>

                                                    <div class="card_my_vote " style="width:40rem;">
                                                        <img class="img-responsive rounded-circle float-left" style="width:15rem; pt-5" src=<%= Vote.find_by_id(vote).gravatar_url %> alt="Card image cap">
                                                        <div class="vote_my_votes_body">
                                                            <h5 >
                                                                <%= collaborator[vote][:name]%>
                                                            </h5>
                                                            <p class="card_description_demand">
                                                                <%=collaborator[vote][:description]%>
                                                            </p>
                                                            <a href=<%=vote_url(vote)%> class = 'link_go_to' style="" ><span id = 'button_cards'> Go There</span></a>
                                                        </div>
                                                    </div>



                                                <%end%>
                                            <% end %>
                                        </div>
                                        <div class="model-footer">
                                            <input class='btn btn-default' value='Close'>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <a class='collabs' data-toggle="modal" data-target=<%= '#myModal'+col_id.to_s%>>
                                <%= User.find_by_id(col_id).name %>  
                            </a>
                            
                            <span class='collabs'><%= collaborator[:total_counter] %></span>
                        </div>
                    <% end %>

                </div>

            </div>
        </div>
        
        <div class='d-flex justify-content-center my_votes_demands_list'>
            <div>
                <div class="collab_demand_title">
                    
                    demands
                        
                </div>
                <div class="my_votes_demand_list ">
                    <div class="demands_list_my_votes ">
                    <ul class="list-group ">
                            <% @group.votes.each do |demand| %>

                                <li class="list-group-item d-flex justify-content-between align-items-center demand_my_votes_item">
                                    <%=demand.name%>
                                    <span class="badge badge-primary badge-pill"><%=demand.counter%></span>
                                </li>
                            <%end%>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
            
        
        
    </section>
    
    

<% end %>

