
<h1 class="site-heading text-center text-white d-lg-block">
    <span class="site-heading-upper text-primary mb-3" ><img src="https://bit.ly/38nW03w" alt="uptitle"></span>
</h1>

<h1 class="site-heading text-center text-white d-lg-block">
    <span class="site-heading-upper text-primary mb-3" >POPOPOPO</span>
</h1>
<div id="demo" class="carousel slide" data-ride="carousel">

    
    <div class="carousel-inner group_carrousel">
        <div class="carousel-item active  d-flex justify-content-center align-items-center" style="padding-top: 5rem;">
            <img src= <%= current_user.gravatar%> alt="group" class = "img-fluid img-thumbnail rounded-circle">
        </div>
        
        <% @groups.each do |group| %>
                        
            <div class="carousel-item" style="padding-top: 5rem;">
                <a href= <%= group_profile_path(id: group.id)%> >
                    <div class = "d-flex justify-content-center align-items-center">
                        <div class="card  text-white group_back" style="width: 28rem;padding:4rem;">
                            <img src= <%=group.imagen_url%> alt="group" class = "img-fluid img-thumbnail rounded-circle">
                            <div class="card-body">
                                <h5 class="card-title title_group text-center"><%=group.name%></h5>
                                <p class="card-text text-center description_group"><%=group.description%></p>
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
        <% end %>
        
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>
