<div class="group_show_back">
    
    <a class="create_group" href= <%= groups_new_url%> >
        <img src="https://i.imgur.com/yFmVzKG.png" alt="uptitle" class='new_button'>
    </a>
    
    <div class="d-flex justify-content-center align-content-center">
        <div class=" groups_label_index text-center mb-5">
            Groups
        </div>
</div>

<div class='d-flex justify-content-center groups_scroll_show'>

    <div>
        
        <div class="">
            <div class="">
            <ul class=" ">
                    <% @groups.each do |group| %>
                        <% if group.user_id != current_user.id%>
                        <br>
                            <a href=<%= group_profile_url(group_id: group.id) %>>

                                <div class="card pb-5">
                                    <img class="card-img-top" src=<%=group.imagen_url%>>
                                    <div class="card-block text-center">
                                        <div class="profile">
                                             <img class= 'rounded-circle img-fluid author_image' src=<%=User.find_by_id(group.user_id).gravatar%> alt="">
                                        </div>
                                        <h4 class="card-title mt-3 group_title_scroll"><%=group.name%></h4>
                                        <div class="meta">
                                            <a>Friends</a>
                                        </div>
                                        <div class="card-text">
                                            Tawshif is a web designer living in Bangladesh.
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <small>Last updated 3 mins ago</small>
                                        <button class="btn btn-secondary float-right btn-sm">show</button>
                                    </div>
                                </div>

                            </a>
                            
                            
                                
                        <%end%>
                    <%end%>

                </ul>
            </div>
        </div>
    </div>
</div>

    
    <div>
        <a href=<%= root_url %> class = 'home_button_groups'>
            <img src="https://bit.ly/39poQlf" alt="" class='img-responsive imagen_vote_show'>
        </a>
        
    </div>
</div>
