<div class='container login_form d-flex justify-content-center'>
  <img src="https://i.imgur.com/7E6ryeu.png" alt="Login" class = "img-fluid login_form">
</div>

<div class="container d-flex justify-content-center create_group sign_form">
    <%= form_for(@group, url: '/groups_new') do |f| %>
        <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true%>
        </div>
        <div class="field">
            <%= f.label :description %><br />
            <%= f.text_field :description, autofocus: true%>
        </div>
        <div class="field">
            <%= f.label :image_url %><br />
            <%= f.text_field :imagen_url, autofocus: true%>
        </div>
        <%= f.submit 'create', class: 'btn btn-secondary' %>
    <% end %>
</div>
