<div class="group_show_back">
    
    <a class="create_group" href= <%=demands_new_url%> >
        <img src="https://i.imgur.com/yFmVzKG.png" alt="uptitle" class='new_button_votes'>
    </a>
    
    <div class="d-flex justify-content-center align-content-center">
        <div class=" groups_label_index_votes text-center mb-5">
           
                <img src="https://i.imgur.com/CgFTaF0.png" alt="downtitle" class='  img-responsive' style='width:40rem;'>
            
        </div>
    </div>

    <div id= 'content_grl'>
        <a href=<%= root_url %> class = 'home_button_votes'>
            <img src="https://bit.ly/39poQlf" alt="" class='img-responsive imagen_vote_show'>
        </a>
        
    </div>

    <div class='d-flex justify-content-center groups_scroll_show'>
        
        <ul class="ul_scroll_groups_index ">
            <% @demands.each do |demand| %>
                <% if demand.user_id != current_user.id%>
                
                    <a class = 'gral_link_for_group'href=<%= vote_url %>>

                        <div class="card pb-5 unit_group">
                            <div class='photo_top_group_card'>
                                <img class="card-img-top " src=<%=demand.gravatar_url%>>
                                
                            </div>
            
                            
                            <div class="card-block text-center center_card_groups_index">
                                <div class="profile">
                                    <img class= 'rounded-circle img-fluid author_image' src=<%=User.find_by_id(demand.user_id).gravatar%> alt="">
                                </div>
                                <h4 class="card-title mt-3 group_title_scroll"><%=demand.name%></h4>
                                <div class="meta meta_card_relative">
                                    <h6 class='meta_card_votes_index'><%=demand.description%></h6>
                                    
                                </div>
                                <div class="card-text card-text_groups">
                                    Created by: <%=User.find_by_id(demand.user_id).name%>
                                    <p>Last updated: No se qomcomasd</p>
                                </div>
                                    
                            </div>
                        </div>
                    </a>                   
                <%end%>
            <%end%>

        </ul>
    </div>
    <footer class="footer">
      <div class="container">
        <img src="https://i.imgur.com/Apw10z1.png" alt="downtitle" class='down_title  img-responsive'>
      </div>
    </footer>
    
    
</div>